.StatusBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F1EEE9;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.ActionButtonContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.ActionButton {
    background-color: #3F666E;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ActionButton:hover {
    background-color: #7DABB5;
}

.FilterContainer {
    display: flex;
    align-items: center;
}

.FilterTextInput {
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 300px;
    margin-left: 10px;
    color: #333;
}

.FilterTextInput::placeholder {
    color: #aaa;
}

.DropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    list-style: none;
    padding: 10px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}

.DropdownMenu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.DropdownMenu li {
    padding: 8px 12px;
    cursor: pointer;
}

.DropdownMenu li:hover {
    background-color: #f0f0f0;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    width: auto;
}

.react-datepicker__input-container input {
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #333;
}

.react-datepicker__input-container input::placeholder {
    color: #aaa;
}