/* Mainwindow.css */
.MainWindow {
    flex: 1;
    padding: 1rem;
}

.TableWithNavigation {
    display: flex;
    align-items: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 1rem; /* Add some space between table and buttons */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.NavigationButtons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons vertically */
}

.NavigationButtons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem; /* Add space between the Up and Down buttons */
}

.NavigationButtons button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
