.Navbar {
    background-color: #F1EEE9 !important;
    color: black !important;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.NukeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.NukeButton:hover {
    background-color: darkred;
}

.HiddenButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}